.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  margin-top: 215px;
  background-image: "../setG";
}

.create-goal-btn {
  background-color: #f1356d;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}
